<div class="nav-bar">
    <div class="nav-bar-options">
    <div><a href="/home"><img class="home-icon">Home</a></div>
    <div><a href="/employee-find"><img class="employees-icon">Funcionários</a></div>
    <div><a href="/logout"><img class="logout-icon">Logout</a></div>
    </div>
</div>