<div class="nav-bar">
    <div class="nav-bar-options">
    <div><a href="/employees-find" class="nav-bar-functionaires"><img class="employees-icon" src="../Images/Icons/group-60.png"><br>Funcionários</a></div>
    <div><a href="/logout"><img class="logout-icon" src="../Images/Icons/logout-60.png"><br>Logout</a></div>
    </div>
</div>