
{{>navbar}}
<div class="employees-table">
    <div class="employees-container">
    <h2 class="Employees-Section-Title">Funcionários</h2>
    <a class="Employee-Button Employee-AddButton" href="/employees-cadaster">+ Funcionário</a>
    <div class="employees-sub-table">
            <li class="topic"><p>Photo</p></li>
            <li class="topic"><p>Nome</p></li>
            <li class="topic"><p>Email</p></li>
            <li class="topic"><p>Setor</p></li>
    
        {{#each results}}
        <ul>
        <li class="Employee-Photo"></li>
        <li><a>{{employeename}}</a></li>
        <li><a>{{email}}</a></li>
        <li><a>{{setor}}</a></li>
        <li><a href="/employee-edit/{{id}}" class="Employee-Button Employee-Button-DB Employee-OpenButton">Abrir</a></li>
        </ul>
        {{/each}}
    </div>
    </div>
</div>

