
<main>
    <form action="/cadasterenterprise" method="POST">
        <fieldset class="login-field">
            <p class="title-login-field">Fazer login<p>
            <p class="subtitle-login-field">Use sua conta empresarial</p>
            <input class="input-bars input-bars-username" aria-label="Usuario" type="text" name="Username" id="Username" placeholder="Usuário/CNPJ">
            <input class="input-bars input-bars-password" type="password" name="Password" id="Password" placeholder="Senha">
            <input class="input-bars input-bars-cnpj" type="text" name="Cnpj" id="Cnpj" placeholder="CNPJ">
            <button class="login-field-btn submit-btn" type="submit"></button>
            <button class="login-field-btn exit-btn" type="reset"></button>

        </fieldset>
    </form>
</main>