<header>

    <a class="Title-Header" href="index.html">Logo</a>
    
</header>


<div>
<ul class="home-list-functions">
<li><a href="/employee-cadaster">Funcionários Cadastro</a></li>
<li><a href="/employee-find">Consultar Funcionários</a></li>
</ul>
</div>
