
<main>
    <form action="/login" method="POST" autocomplete="off" aria-autocomplete="off">
        <fieldset class="login-field">
            <br><p class="title-login-field">Fazer login<p>
            <p class="subtitle-login-field">Use sua conta empresarial</p>
            <input class="input-bars input-bars-cnpj" type="text" name="Cnpj" id="Cnpj" placeholder="Usuário">
            <input class="input-bars input-bars-password" type="password" name="Password" id="Password" placeholder="Senha">
          
            <button class="login-field-btn submit-btn" type="submit">Login</button>
            <a class="create-account"href="/signup">Criar conta</a>
        </fieldset>
    </form>

</main>