
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.preload *{
    transition: none !important;
}


.logo{
    background-image: url('../Images/logo.png');
    background-position: center;
    height: 120px;
    width:170px;
    outline: 2px rgb(0,0,0) solid;
    outline-offset: -2px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-left: 70px;
}
header{
    background-color: black;
    position: fixed;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 5;
    box-shadow: 0 0 0.3em #1F3544;
}

.adasads{
    position: absolute;
    bottom: 50%;
    left: 50%;
}

html, body{
    background-color: #F7F7F7;
    height: 100%;
 }
 

.login-field{
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80%;
    height:  100%;
    border-radius: 3px;
    border:none;
    box-shadow: 0 0 0.1em black;

}
.input-bars{
    width: 300px;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid black;
}

.login-field .submit-btn{
    bottom: 80%;
    left: 50%;
}

.input-bars:focus::placeholder{
    opacity: 0;
}

.title-login-field{
    text-align: center;
    color: white;
    margin-top: 200px;
    padding: 10px;
    margin-bottom: 100px;
    margin-left: 550px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    font-family: 'Mukta', sans-serif;
    background-color: #326281;  
    width: 500px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(11, 104, 167);
}
.subtitle-login-field{
    font-size: 20px;
    color: #202124;
}

.input-bars:focus{
    box-shadow: 0;
    outline: 0;
    border: rgba(26, 184, 184, 0.952) 1px solid;
    
}

.login-field-btn{
    background-color: #2271a5;
    color: white;
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px;
    position: absolute;
    text-align: center; 
    border: black 1px solid;
    transition: ease-out 0.5s background-color;
    box-shadow: inset 0 0 0.3em rgb(77, 75, 75);
    cursor: pointer;
}

.return-btn{
    left: 400px;
    bottom: -20%;
    background-color: rgba(0, 0, 0, 1);
}



.cadaster-employee-field .submit-btn{
    right: 120px;
    bottom:-20%;
}

.submit-show{
    display: block;
}


.next-btn{
    right: 120px;
    bottom:-20%;
    background-color: rgba(12, 180, 116, 0.952);;
}

.submit-btn:hover{
    background-color: rgb(29, 151, 231);
}

.return-btn:hover{
    background-color: rgba(0, 0, 0, 0.7);   
}
.next-btn:hover{
    background-color: rgba(12, 206, 132, 0.952);
}

.Title-Header{
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-weight: 600;
}

.cadaster-employee-field{
    width: 80%;
    margin-left: 350px;
    border:none;
}

.cadaster-employee-field .input-bars-Cnpj{
    display: none;
}
.required:after {
    content:" *";
    color: red;
  }

.cadaster-employee-field fieldset{
    font-family: 'Mukta', sans-serif;
    display: none;
    border:none;
    border-radius: 6px;
    padding: 50px;
    box-shadow: 0 0 0.1em gray;
    background-color: white;
    height: 600px;
    margin-bottom: 200px;
}

.cadaster-employee-field .formshow{
    display: flex;
    flex-flow: wrap;
    row-gap: 100px;
    column-gap: 10px;
}


.cadaster-employee-field fieldset h2{
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: #3B6683;
    position: absolute;
    top: 300px;
    left: 360px;
    padding: 10px;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: inset 0 0 0.5em rgb(11, 104, 167);

}


.cadaster-employee-field .input-bars{
    width: 400px;
    border: none;
    border-bottom: 1px solid rgb(104, 104, 110,0.5);
    background-color: transparent;
    text-align: left;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    margin-top: 30px;
}

.cadaster-employee-field label{
    font-size: 20px;
    margin: 0px 50px;
}

input[type=file]{
    
    display: none;
    border: 5px solid black;
    background-color: #2271a5;
  
}

.cadaster-employee-field .Employee-Function-Fieldset{
    flex-direction: column;
    row-gap: 40px;
}

.cadaster-employee-field .Employee-Bank-Fieldset,.cadaster-employee-field .Employee-Images-Fieldset{
    flex-direction: column;
    row-gap: 120px;
}

.Employee-Images-Fieldset .input-bars{

    border-bottom: none;
   
}

.Employee-Images-Fieldset label{
    height: 30px;
}

.Employee-Images-Fieldset .label-file-send{
    margin: auto;
    padding: 10px;
    height: 30px;
    background-color: #2d4f66;
    color: white;
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: inset 0 0 0.3em rgb(0, 0, 0);
    cursor:pointer;
    transition: 0.5s ease-in;
}

.Employee-Images-Fieldset .label-file-send:hover{
    background-color: #217cb8;
}

.select {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 100%;

}    .select select {
        
        font-family: 'Mukta', sans-serif;
        font-size: 15px;
        display: inline-block;
        width: 110%;
        cursor: pointer;
        padding: 12px 30px;
        outline: 0;
        box-shadow: 0 0 0.1em gray;
        border-radius: 0px;
        background: #ffffff;
        color: #0a0a0a;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #ffffff;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 18.5px;
    right: 0px;
    width: 5px;
    height: 5px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}   
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #2271a5;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.Gender-Label{
    padding-left: 120px;
}

.home-list-functions{
    position: absolute;
    bottom: 50%;
}

.employees-table{
    background: #F7F7F7;
    height: 100%;
    position: relative;
}


.Employee-Button{

	box-shadow:inset 0px -9px 15px 3px #23395e;
	background-color: #1F3544;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:15px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    position: absolute;
    top: 21%;
    left: 40%;
    z-index: 1;
}

.Employee-Button-DB{
    position: static;

}

.Employee-Button:hover{
	background-color:#415989;
}


.Employees-Section-Title{
    color:black;
    position: absolute;
    top: 20%;
    left: 22%;
    z-index: 1;
    font-size: 40px;
    font-family: 'Mukta', sans-serif;
}
 

.employees-sub-table{
    position: absolute;
    display: grid;
    text-align: left;
    grid-template-columns: repeat(6,minmax(170px,170px));
    grid-auto-rows: minmax(40px,40px);
    column-gap: 120px;
    row-gap: 40px;
    height: 700px;
    width: 75%;
    right: 3%;
    bottom: 40%;
    transform: translateY(55%);
    background-color: white;
    border-radius: 5px;
    overflow:hidden;
    font-family: 'Mukta', sans-serif;
    box-shadow: 0 0 0.2em grey;
    justify-content: center;
   
}


.topic:nth-child(1){
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 70px;
}



.topic p{
    text-align: left;
    color: grey;
    letter-spacing: 2px;
    font-size: 20px;

}

.employees-sub-table .container-li{
    outline: 1px black solid;
    height: 100%;
}


.nav-bar{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #1F3544;
    left: 0%;
    z-index: 1;
    box-shadow: 0 0 0.3em black;
}

.nav-bar-options{
    margin-top: 44%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-bar-options img{
    height: 66px;
    background-size: cover;
    width: 66px;
    outline: #1F3544 4px solid;
    outline-offset: -2.3px;
    transition: outline 0.5s ease-in;
}


.nav-bar-options a{
    padding: 90px;
    background-color: transparent;
    border:none;
    display: block;
    color: white; 
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.nav-bar-options a:hover{
    background-color: #2d4f66;

}


.nav-bar-options a:hover img{
    outline: #2d4f66 4px solid;
    outline-offset: -2.3px;
}


.nav-bar-options a{
    color:white;
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
  
}  


.home-icon{
    background-image: url('../Images/Icons/house-80.png');
}


.employees-icon{
    background-image: url('../Images/Icons/group-60.png');
}

.logout-icon{
    background-image: url('../Images/Icons/logout-60.png');
    transform: scaleX(-1);
}



@media screen and (min-width : 900px){

    .login-field{
    width: 50%;
    }

    .input-bars{
        width: 50%;
    }
    
}
