
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: 'Mukta', sans-serif;
}


.preload *{
    transition: none !important;
}

input:focus::placeholder{
    opacity: 0;
}

.input-bars:focus{
    box-shadow: 0;
    outline: 0;
    border: #23395e 1px solid;
    
}

.logo{
    background-image: url('../Images/logo.png');
    background-position: center;
    height: 120px;
    width:170px;
    outline: 2px rgb(0,0,0) solid;
    outline-offset: -2px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-left: 70px;
}
header{
    background-color: black;
    position: fixed;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 5;
    box-shadow: 0 0 0.3em #1F3544;
}

 body{
    background-color: #F7F7F7;
    height: 100%;
    width: 100%;
 }

.login-field{

    position: absolute;
    background-color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column; 
    align-items: center;
    width:  500px;
    height:  600px;
    border-radius: 3px;
    box-shadow: 0 5px 10px gray;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); 
    row-gap: 50px;
    
}


.login-field .title-login-field{
    font-weight: 600;
    font-size: 30px;
    margin-top: -10px;
}


.login-field .subtitle-login-field{
    margin-top: -30px;
    font-weight: 500;
    font-size: 20px;
}

.login-field .input-bars{
    width: 300px;
    height: 40px;
    border: 1px solid rgb(104, 104, 110,0.5);
    background-color:transparent;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
}

.login-field .submit-btn{
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
    padding: 10px;
    width: 150px;
    box-shadow: inset 0 0 0.2em black;
}

.login-field .submit-btn:hover{
  
    background-color: rgb(29, 156, 240);

}



.title-cadaster-field{
    text-align: center;
    color: white;
    margin-top: 200px;
    padding: 10px;
    margin-bottom: 100px;
    margin-left: 550px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    font-family: 'Mukta', sans-serif;
    background-color: #000000;  
    width: 500px;
    border-radius: 5px;
    box-shadow: inset 0 0 4px rgb(8, 62, 87);
}
.subtitle-login-field{
    font-size: 20px;
    color: #202124;
}


.login-field-btn{
    background-color: #2186c9;
    color: white;
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px;
    position: absolute;
    text-align: center; 
    border: black 1px solid;
    transition: ease-out 0.5s background-color;
    box-shadow: inset 0 0 0.3em rgb(77, 75, 75);
    cursor: pointer;
}

.return-btn{
    left: 60px;
    bottom: -20%;
    background-color: rgba(0, 0, 0, 1);
}



.cadaster-employee-field .submit-btn{
    right: 65px;
    bottom:-20%;
    background-color: rgba(12, 180, 116, 0.952);
}

.submit-show{
    display: block;
}


.next-btn{
    right: 65px;
    bottom: -20%;
    
}
.formdelete{
    position: absolute;
    bottom: -270px;
    left: 40%;
}
.delete-button{
    text-transform: uppercase;
    background-color: rgb(92, 10, 10);
    color: white;
    padding: 17px;
    width: 200px;
    box-shadow: inset 0 0 0.3em black;
    border-radius: 5px;
    transition: 0.5s ease-in;
    cursor: pointer;
}
.delete-button:hover{
  
    background-color: rgba(179, 17, 17, 0.822);
   
}

.submit-btn:hover{
    background-color: rgba(12, 206, 132, 0.952);
}

.return-btn:hover{
    background-color: rgba(0, 0, 0, 0.7);   
}
.next-btn:hover{
    background-color: rgb(29, 156, 240);
}


.Title-Header{
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-weight: 600;
}


.cadaster-employee-field .input-bars-Cnpj{
    display: none;
}
.required:after {
    content:" *";
    color: red;
}


.cadaster-employee-field fieldset{
    font-family: 'Mukta', sans-serif;
    display: none;
    border:none;
    border-radius: 6px;
    padding: 50px;
    box-shadow: 0 0 0.1em gray;
    background-color: white;
    margin: 0 auto;
    position: relative;

}

.Employee-Forms-General{
    margin-left: 320px;
}


.cadaster-employee-field .formshow{
    display: flex;
    flex-flow: wrap;
    row-gap: 100px;
    column-gap: 10px;
    height: 600px;
    width: 1400px;

}


.cadaster-employee-field fieldset h3{
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: #000000;
    position: absolute;
    top:-10%;
    padding: 10px;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: inset 0 0 0.5em rgb(43, 46, 48);

}

.cadaster-employee-field .Image-File{

    max-width: 100px;
    border: 1px solid black;
    max-height: 200px;
    box-shadow: 0 0 0.1em black;
 
}

.cadaster-employee-field .input-bars{
    width: 400px;
    border: none;
    border-bottom: 1px solid rgb(104, 104, 110,0.5);
    background-color:transparent;
    text-align: left;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    margin-top: 30px;
}


.cadaster-employee-field label{
    font-size: 20px;
    margin: 0px 50px;
    max-width: fit-content;
}

input[type=file]{
    
  
}

.cadaster-employee-field .Employee-Function-Fieldset{
    flex-direction: column;
    row-gap: 100px;
}

.cadaster-employee-field .Employee-Bank-Fieldset{
    flex-direction: column;
    row-gap: 130px;
    column-gap: 10px;
}

.cadaster-employee-field .Employee-Images-Fieldset{

    flex-shrink: 1;

}


.Employee-Images-Fieldset .input-bars{

    border-bottom: none;
   
}

.Employee-Images-Fieldset label{
    height: 30px;
}

.create-account{
    text-decoration: none;
    color: black;
    transition: 0.5s ease-in;
}

.create-account:hover{
    color: #217cb8;
}

.Employee-Images-Fieldset .label-file-send:hover{
    background-color: #217cb8;
}

.select {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 100%;

}    .select select {
        
        font-family: 'Mukta', sans-serif;
        font-size: 15px;
        display: inline-block;
        width: 110%;
        cursor: pointer;
        padding: 12px 30px;
        outline: 0;
        box-shadow: 0 0 0.1em gray;
        border-radius: 0px;
        background: #ffffff;
        color: #0a0a0a;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #ffffff;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 18.5px;
    right: 0px;
    width: 5px;
    height: 5px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}   
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #2271a5;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.Gender-Label{
    padding-left: 120px;
}

.home-list-functions{
    position: absolute;
    bottom: 50%;
}


.cadaster-enterprise-field .return-btn,.cadaster-enterprise-field .next-btn,.exit-btn{

    color:white;
    padding: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    z-index: 5;
    transition: ease-in 0.5s;
    cursor: pointer;
    box-shadow: 0 0 0.1em black;
    font-size: 15px;
}


.cadaster-enterprise-field .exit-btn{
    padding: 0;
    text-align: center; 
    display: block;
    text-decoration: none;
    color: white;

}.cadaster-enterprise-field .exit-btn p{
    
    margin-top: 10px;

}


.cadaster-enterprise-field .return-btn,.exit-btn{
    background-color: black;
    left: 5%;
    bottom: 5%;   
}.cadaster-enterprise-field .return-btn:hover,.exit-btn:hover{
    background-color: rgb(70, 69, 69);
}

.cadaster-enterprise-field .next-btn{
    background-color: #2186c9;
    right: 5%;
    bottom: 5%;
}.cadaster-enterprise-field .next-btn:hover{
    background-color: #129dfa;
}

.Employee-Button{
	box-shadow:inset 0px -9px 15px 3px #23395e;
	background-color: #18669b;
	border-radius:7px;
    display: block ;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:10px 18px;
	text-decoration:none;
    position: absolute;
    top: 150px;
    right: 650px;
    z-index: 1;
    transition: 0.5s ease-in;
}

.Employee-Button-DB{
    position: static;
    width: 60px;
    text-align: center;
    margin: 0 auto;
}

.Employee-Button:hover{
	background-color:#2089cf;
}


.Employees-Section-Title{
    color:black;
    position: absolute;
    top: 150px;
    left: 350px;
    z-index: 1;
    font-size: 40px;
    font-family: 'Mukta', sans-serif;
}

.Employee-Photo img{
    height: 100px;
    width: 100px;
}
 
.employees-container{
    position: relative;
}

.topics-ol{
    font-size: 20px;
    text-align: left;
    margin-left: 60px;
    margin-bottom: 30px;
}

.employees-sub-table{

    position: absolute;
    top: 500px; 
    left: 350px;
    transform: translateY(-40%);
    text-align: left;
    row-gap: 50px;
    column-gap: 100px;
    grid-template-columns: repeat(6,minmax(170px,170px));
    grid-auto-rows: minmax(40px,40px);
    height: 700px;
    width: 1400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 0.1em grey;
    justify-content: center;
    overflow: auto;
   
}

.employees-sub-table ul{
  
    text-align: center;
    padding: 10px 0px;
    display: inline-block;
    box-shadow: 0 0 0.04em gray;
    width: 100%;
   
   
}


.employees-sub-table li{
   
   display: inline-block;
   width: 100px;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1em;
   margin-right: 80px;
   text-align: center;
   color: #1b2238;
}

.employees-sub-table li a{
    text-align: center;

}


.nav-bar{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #1F3544;
    left: 0%;
    z-index: 1;
    box-shadow: 0 0 0.3em black;
}

.nav-bar-options{
    margin-top: 44%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-bar-options img{
    height: 66px;
    background-size: cover;
    width: 66px;
    outline: #1F3544 4px solid;
    outline-offset: -2.3px;
    transition: outline 0.5s ease-in;
}


.nav-bar-options a{
    padding: 90px;
    background-color: transparent;
    border:none;
    display: block;
    color: white; 
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.nav-bar-options a:hover{
    background-color: #2d4f66;

}


.nav-bar-options a:hover img{
    outline: #2d4f66 4px solid;
    outline-offset: -2.3px;
}


.nav-bar-options a{
    color:white;
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
  
}  


.home-icon{
    background-image: url('../Images/Icons/house-80.png');
}


.employees-icon{
    background-image: url('../Images/Icons/group-60.png');
}

.logout-icon{
    background-image: url('../Images/Icons/logout-60.png');
    transform: scaleX(-1);
}

.search-container{
    background-color: white;
    margin-right: 30px;
}

.form-search .select{
    width: 90px;
    margin-right: 12px;
    margin-top: 0px;
    box-shadow: none;
    border: 0;
    outline: 0;
    float:left

}

.form-search select{
    height: 48px;
    box-shadow: none;
    border: 0;
    outline: 0;
    
}

.form-search{

    position: absolute;
    top: 150px;
    right:100px; 
     
}


.form-search input{
    width: 400px;
    height: 48px;
    text-align: center; 
    background-image: url("../Images/Icons/pesquisa-de-lupa.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 97%;
    outline: none;
   
}

.form-search button{
    position: absolute;
    margin-left: -35px;
    padding: 12px 17px;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    
}

input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

.search-container{
    box-shadow: 0 0  0.1em #217cb8;
}