
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.preload *{
    transition: none !important;
}


.logo{
    background-image: url('../Images/logo.png');
    background-position: center;
    height: 120px;
    width:170px;
    outline: 2px rgb(0,0,0) solid;
    outline-offset: -2px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-left: 70px;
}
header{
    background-color: black;
    position: fixed;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 5;
    box-shadow: 0 0 0.3em #1F3544;
}

.adasads{
    position: absolute;
    bottom: 50%;
    left: 50%;
}

html, body{
    background-color: #F7F7F7;
    height: 100%;
 }
 

.login-field{
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80%;
    height:  100%;
    border-radius: 3px;
    border:none;
    box-shadow: 0 0 0.1em black;

}



.title-login-field{
    margin-top: 200px;
}

.input-bars{
    border: #555658 1px solid;
    width: 70%;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: absolute;
}
.input-bars:focus::placeholder{
    opacity: 0;
}

.input-bars-username{
    top: 40%;
}

.input-bars-password{
    top:60%;
}
.input-bars-cnpj{
    top:50%;
}

.title-login-field{
    font-size: 30px;
    font-weight: 600;
}
.subtitle-login-field{
    font-size: 20px;
    color: #202124;
}

.input-bars:focus{
    box-shadow: 0;
    outline: 0;
    border: rgba(26, 184, 184, 0.952) 1px solid;
    
}

.login-field-btn{
    background-color:rgba(4, 255, 255, 0.4);
    width: 25%;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px;
    position: absolute;
    text-align: center;
    border: black 1px solid;
    transition: ease-out 0.5s background-color;
}

.exit-btn{
    left: 10%;
    bottom: 25%;
    background-color: rgba(32, 218, 218, 0);
}

.submit-btn{
    right: 10%;
    bottom: 25%;
}

.submit-btn:hover{
    background-color: rgb(27, 187, 187);
}

.Title-Header{
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-weight: 600;
}

.cadaster-employee-field{
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #D1D8DD;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80%;
    height:  100%;
    border-radius: 3px;
    border:none;
    box-shadow: 0 0 0.1em black;
}

.cadaster-employee-field .title-login-field{
    margin-top: 6%;
}

.cadaster-employee-field .input-bars-username{
    top: 20%;
}

.cadaster-employee-field .input-bars-password{
    top: 30%;
}
.cadaster-employee-field .input-bars-cnpj{
    top: 60%;
}

.cadaster-employee-field .input-bars-CTPS{
    top:50%;
}

.cadaster-employee-field .input-bars-CPF{
    top:40%;
}

.cadaster-employee-field .input-bars-cnpj{
    display: none;
}

.home-list-functions{
    position: absolute;
    bottom: 50%;
}

.employees-table{
    background: #F7F7F7;
    height: 100%;
    position: relative;
}


.Employee-Button{

	box-shadow:inset 0px -9px 15px 3px #23395e;
	background-color: #1F3544;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:15px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    position: absolute;
    top: 21%;
    left: 40%;
    z-index: 1;
}

.Employee-Button-DB{
    position: static;

}

.Employee-Button:hover{
	background-color:#415989;
}


.Employees-Section-Title{
    color:black;
    position: absolute;
    top: 20%;
    left: 22%;
    z-index: 1;
    font-size: 40px;
    font-family: 'Mukta', sans-serif;
}
 

.employees-sub-table{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6,minmax(170px,170px));
    grid-auto-rows: minmax(40px,40px);
    column-gap: 120px;
    row-gap: 40px;
    height: 700px;
    width: 75%;
    right: 3%;
    bottom: 40%;
    transform: translateY(55%);
    background-color: white;
    border-radius: 5px;
    overflow:hidden;
    font-family: 'Mukta', sans-serif;
    box-shadow: 0 0 0.2em grey;
    justify-content: center;
  
   
}


.topic:nth-child(1){
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 70px;
}



.topic p{
    text-align: left;
    color: grey;
    letter-spacing: 2px;
    font-size: 20px;

}

.employees-sub-table .container-li{
    outline: 1px black solid;
    height: 100%;
}


.nav-bar{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #1F3544;
    left: 0%;
    z-index: 1;
    box-shadow: 0 0 0.3em black;
}

.nav-bar-options{
    margin-top: 44%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-bar-options img{
    height: 66px;
    background-size: cover;
    width: 66px;
    outline: #1F3544 4px solid;
    outline-offset: -2.3px;
    transition: outline 0.5s ease-in;
}


.nav-bar-options a{
    padding: 90px;
    background-color: transparent;
    border:none;
    display: block;
    color: white; 
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.nav-bar-options a:hover{
    background-color: #2d4f66;

}


.nav-bar-options a:hover img{
    outline: #2d4f66 4px solid;
    outline-offset: -2.3px;
}


.nav-bar-options a{
    color:white;
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
  
}  


.home-icon{
    background-image: url('../Images/Icons/house-80.png');
}


.employees-icon{
    background-image: url('../Images/Icons/group-60.png');
}

.logout-icon{
    background-image: url('../Images/Icons/logout-60.png');
    transform: scaleX(-1);
}



@media screen and (min-width : 900px){

    .login-field{
    width: 50%;
    }

    .input-bars{
        width: 50%;
    }
    
}
